<!-- CSS Made possible by: https://github.com/andybrewer/mvp/
 _     _                         _
| |__ (_) __ _ _ __ _ __   ___  (_) ___
| '_ \| |/ _` | '__| '_ \ / _ \ | |/ _ \
| |_) | | (_| | |  | | | |  __/_| | (_) |
|_.___/ |\__,_|_|  |_| |_|\___(_|_|\___/
    |__/

-->

<!DOCTYPE html>
<html lang="en">
  <head >
    <link rel="icon" href="../static/img/favicon.ico" />
    <link rel="stylesheet" href="../static/styles/mvp.css" />
    <link rel="stylesheet" href="../static/styles/main.css" />

    <meta charset="utf-8" />
    <meta name="description" content="Bjarne Verschorre's Portfolio" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>BjarneIO | {% block title %} {{ request.endpoint.split('.')[1].title() }} {% endblock %}</title>
  </head>

  <body>
    {% block content %} {% endblock %}
  </body>
</html>
