<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/amber.css">
    <title>Document</title>
</head>
<body>
    <div class="poem">
        <h1> Liefste Amber, </h1>
        <p>
            Ik wil je graag een brief schrijven om je te laten weten hoeveel ik van je hou. <br>
            Ik weet nog goed, samen in Oostende, ik was zo blij toen ik hoorde dat je meeging. <br>
            Ik was blij dat we er na naar jou thuis gingen, van mij mocht die dag veel langer duren. <br> <br>
            
            Ik vond je zo interresant en ik kan niet wahcten om meer over jou te weten. <br>
            Ik hou van hoe lief en caring je bent, en hoe mooi je bent met een glimlach op je gezicht. <br>
            Ik ben dankbaar voor elke keer dat we samen frietjes gaan eten en films kijken. <br> <br>
            
            Ik wil je laten weten dat ik van plan ben om de rest van mijn leven aan je te wijden. <br>
            Ik wil alles doen om je gelukkig te maken en voor altijd bij je te blijven. <br>
            Ik beloof om altijd voor je te zorgen en ervoor te zorgen dat je je altijd beschermd en veilig voelt. <br>
            Ik wil je dromen steunen en er alles aan doen om ze waar te maken. <br> <br>
            
            Ik kan niet wachten om de rest van mijn leven met jou door te brengen, om samen gelukkig te zijn en onze liefde te laten groeien. <br>
            Ik hou van je, Amber, en ik wil de rest van mijn leven aan je bewijzen hoeveel je voor mij betekent. <br> <br>
            
            Met alle liefde, <br>
            <b>Bjarne &lt;3 </b>
        </p>
    </div>
</body>
</html>