{% extends "base.html" %} {% block content %}
<header class="socials">
  <h1>Socials</h1>
  <note >Feel free to use my <a href="/pgp.txt"><u>PGP Key</u></a> while contacting
    me.</note >
  <p>
    <a href="/"><i>Go Back</i></a>
  </p>

  <section>
    <aside>
      <img alt="Twitter" src="../static/img/twitter.svg" height="100" />
      <h3>Twitter</h3>
      <p>
        <a href="https://twitter.com/bjarneio" target="_blank"
          ><em>@BjarneIO&nearr;</em></a
        >
      </p>
    </aside>
    <aside>
      <img alt="Github" src="../static/img/github.svg" height="100" />
      <h3>Github</h3>
      <p>
        <a href="https://github.com/bjarneio" target="_blank"
          ><em>@BjarneIO&nearr;</em></a
        >
      </p>
    </aside>
    <aside>
      <img alt="LinkedIn" src="../static/img/linkedin.svg" height="100" />
      <h3>LinkedIn</h3>
      <p>
        <a href="#" target="_blank"><em>Coming soon&nearr;</em></a>
      </p>
    </aside>
  </section>
</header>
{% endblock %}
